/* Untuk Tablets */
@media (max-width: 1000px) {

  .lingkaranpf {
    width: 25%;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

}


/* Untuk Smartphones */


@media (max-width: 670px) {

  .lesson {
    width: 100%;

  }
}